# PersistentVolumeClaim
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  namespace: spotify
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

--- 

# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-deployment
  namespace: spotify
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  template:       
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        args:
          - server
          - /data
          - --console-address
          - ":9001"
        ports:
          - containerPort: 9000
          - containerPort: 9001
        envFrom:
          - secretRef:
              name: minio-secret
        volumeMounts:
          - name: minio-storage
            mountPath: /data
      volumes:
        - name: minio-storage
          persistentVolumeClaim:
            claimName: minio-pvc

--- 

# Service
apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: spotify
spec:
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
      nodePort: 30001
  type: NodePort
